*.o
src/*.o
out/dev_p1.rom
out/char.bin
out/fix.bin
output.map
.vscode/dryrun.log
.vscode/targets.log
cart/2501-c1.c1
cart/2501-c2.c2
cart/2501-m1.m1
cart/2501-p1.p1
cart/2501-s1.s1
cart/2501-v1.v1
cart/240ptest.zip
cart/neosd/240ptest.neo
.vscode/settings.json
