[submodule "240psuite/N64/libdragon"]
	path = 240psuite/N64/libdragon
	url = https://github.com/DragonMinded/libdragon
	branch = preview
	ignore = dirty
[submodule "240psuite/N64/libs/tiny3d"]
	path = 240psuite/N64/libs/tiny3d
	url = https://github.com/ArtemioUrbina/tiny3d
	branch = main
