<filepath="font.png" id="FONTIMG" colfmt=6 />
<filepath="black.png" id="BLACKIMG" colfmt=6 />
<filepath="numbers.png" id="NUMBERSIMG" colfmt=6 />
<filepath="back.png" id="BACKIMG" colfmt=6 />
<filepath="SD.png" id="SDIMG" colfmt=6 />
<filepath="pluge.png" id="PLUGEIMG" colfmt=6 />
<filepath="grayramp.png" id="GRAYIMG" colfmt=6 />
<filepath="white.png" id="WHITEIMG" colfmt=6 />
<filepath="grid.png" id="GRIDIMG" colfmt=6 />
<filepath="601701cb.png" id="CB601701IMG" colfmt=6 />
<filepath="color.png" id="COLORIMG" colfmt=6 />
<filepath="color_grid.png" id="COLORGRIDIMG" colfmt=6 />
<filepath="colorbleed.png" id="COLORBLEEDIMG" colfmt=6 />
<filepath="colorbleedchk.png" id="COLORBLEEDCHKIMG" colfmt=6 />
<filepath="grid480.png" id="GRID480IMG" colfmt=6 />
<filepath="100IRE.png" id="IRE100IMG" colfmt=6 />
<filepath="circles_grid.png" id="CIRCLESGRIDIMG" colfmt=6 />
<filepath="circles_griddot.png" id="CIRCLESGRIDDOTIMG" colfmt=6 />
<filepath="circlesNTSC.png" id="CIRCLESIMG" colfmt=6 />
<filepath="checkpos.png" id="CHECKPOSIMG" colfmt=6 />
