<filepath="font.png" id="FONTIMG" colfmt=6 />
<filepath="black.png" id="BLACKIMG" colfmt=6 />
<filepath="numbers.png" id="NUMBERSIMG" colfmt=6 />
<filepath="back.png" id="BACKIMG" colfmt=6 />
<filepath="SD.png" id="SDIMG" colfmt=6 />
<filepath="pluge.png" id="PLUGEIMG" colfmt=6 />
<filepath="grayramp.png" id="GRAYIMG" colfmt=6 />
<filepath="white.png" id="WHITEIMG" colfmt=6 />
<filepath="grid.png" id="GRIDIMG" colfmt=6 />
<filepath="601701cb.png" id="CB601701IMG" colfmt=6 />
<filepath="color.png" id="COLORIMG" colfmt=6 />
<filepath="color_grid.png" id="COLORGRIDIMG" colfmt=6 />
<filepath="colorbleed.png" id="COLORBLEEDIMG" colfmt=6 />
<filepath="colorbleedchk.png" id="COLORBLEEDCHKIMG" colfmt=6 />
<filepath="grid480.png" id="GRID480IMG" colfmt=6 />
<filepath="100IRE.png" id="IRE100IMG" colfmt=6 />
<filepath="nish.png" id="NISHIMG" colfmt=6 />
<filepath="circles_grid.png" id="CIRCLESGRIDIMG" colfmt=6 />
<filepath="circles_griddot.png" id="CIRCLESGRIDDOTIMG" colfmt=6 />
<filepath="circlesNTSC.png" id="CIRCLESIMG" colfmt=6 />
<filepath="checkpos.png" id="CHECKPOSIMG" colfmt=6 />
<filepath="checkneg.png" id="CHECKNEGIMG" colfmt=6 />
<filepath="scanlines.png" id="SCANLINESIMG" colfmt=6 />
<filepath="sonicback.png" id="SONICBACKIMG" colfmt=6 />
<filepath="sonicfloor.png" id="SONICFLOORIMG" colfmt=6 />
<filepath="stripespos.png" id="STRIPESPOSIMG" colfmt=6 />
<filepath="stripesneg.png" id="STRIPESNEGIMG" colfmt=6 />
<filepath="diagonal.png" id="DIAGONALIMG" colfmt=6 />
<filepath="motoko.png" id="MOTOKOIMG" colfmt=6 />
<filepath="motoko-480.png" id="MOTOKO480IMG" colfmt=6 />
<filepath="buzzbomber.png" id="BUZZBOMBERIMG" colfmt=6 />
<filepath="buzzbomberShadow.png" id="BUZZBOMBERSHADOWIMG" colfmt=6 />
<filepath="shadow.png" id="SHADOWIMG" colfmt=6 />
<filepath="striped.png" id="STRIPEDIMG" colfmt=6 />
<filepath="vertstripespos.png" id="VERTSTRIPESPOSIMG" colfmt=6 />
<filepath="vertstripesneg.png" id="VERTSTRIPESNEGIMG" colfmt=6 />
<filepath="lag-per.png" id="LAGPERIMG" colfmt=6 />
<filepath="circle.png" id="CIRCLEIMG" colfmt=6 />
<filepath="sprite0led.png" id="SPRITE0LEDIMG" colfmt=6 />
<filepath="sprite1led.png" id="SPRITE1LEDIMG" colfmt=6 />
<filepath="sprite2led.png" id="SPRITE2LEDIMG" colfmt=6 />
<filepath="sprite3led.png" id="SPRITE3LEDIMG" colfmt=6 />
<filepath="sprite4led.png" id="SPRITE4LEDIMG" colfmt=6 />
<filepath="help.png" id="HELPIMG" colfmt=6 />
<filepath="SMPTECB75.png" id="SMPTECB75IMG" colfmt=6 />
<filepath="SMPTECB100.png" id="SMPTECB100IMG" colfmt=6 />
<filepath="FloatMenu.png" id="FLOATMENUIMG" colfmt=6 />
<filepath="sharpness.png" id="SHARPNESSIMG" colfmt=6 />
<filepath="gridPAL.png" id="GRIDPALIMG" colfmt=6 />
<filepath="gridPAL480.png" id="GRIDPAL480IMG" colfmt=6 />
<filepath="circlesPAL.png" id="CIRCLESPALIMG" colfmt=6 />
<filepath="EBUColorBars75.png" id="EBUCB75IMG" colfmt=6 />
<filepath="EBUColorBars100.png" id="EBUCB100IMG" colfmt=6 />
<filepath="plugePAL.png" id="PLUGEPALIMG" colfmt=6 />
<filepath="PLUGEBorder.png" id="PLUGEBORDERIMG" colfmt=6 />
<filepath="grid224.png" id="GRID224IMG" colfmt=6 />
<filepath="linearity224.png" id="LINEARITY224IMG" colfmt=6 />
<filepath="longrectangle.png" id="LONGRECTANGLEIMG" colfmt=6 />