<filepath="font.png" id="Font" colfmt=6 />
<filepath="black.png" id="Black" colfmt=6 />
<filepath="numbers.png" id="Numbers" colfmt=6 />
<filepath="grid.png" id="grid" colfmt=6 />
<filepath="checkpos.png" id="checkpos" colfmt=6 />
