name: BUILD-NINTENDO_64-ROM

on:
  push:
    paths:
    - '.github/workflows/build-n64-rom.yml'
    - '240psuite/N64/**'
  pull_request:
    paths:
    - '.github/workflows/build-n64-rom.yml'
    - '240psuite/N64/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install libDragon Container
      run: |
        npm i -g libdragon@latest

    - name: Install libDragon source to root directory
      run: |
        libdragon init

    - name: Adjust and re-build libdragon source
      run: |
        # Copy the adjusted source into the ./libdragon folder
        cp -f ${{ github.workspace }}/240psuite/N64/libdragonchanges/display.c ${{ github.workspace }}/libdragon/src
        cp -f ${{ github.workspace }}/240psuite/N64/libdragonchanges/graphics.c ${{ github.workspace }}/libdragon/src
        cp -f ${{ github.workspace }}/240psuite/N64/libdragonchanges/display.h ${{ github.workspace }}/libdragon/include
        cp -f ${{ github.workspace }}/240psuite/N64/libdragonchanges/font.h ${{ github.workspace }}/libdragon/include
        # Rebuild libdragon for changed source
        cd ${{ github.workspace }}/libdragon/
        libdragon make
        libdragon make install
        # libdragon make tools-install # the tools are default so commmented out.

    - name: Build ROM
      run: |
        cd ${{ github.workspace }}/240psuite/N64/
        libdragon make

    - name: "Upload built ROMs to artifacts"
      uses: actions/upload-artifact@v2
      with:
        name: NINTENDO_64-ROM
        path: |
          ${{ github.workspace }}/**/240psuite/N64/*.z64
